{% extends 'myadmin/base.html' %}
{% block title %}
<title>会员列表</title>
{% endblock %}
{% block con %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">文章列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a type="button" href="{% url 'myadmin_users_add' %}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                            <div class="am-form-group tpl-table-list-select">
                                <select data-am-selected="{btnSize: 'sm'}" style="display: none;" name="selecttype">
                                    <option value="all" {% if request.GET.selecttype == 'all'%} selected {% endif %}>所有字段</option>
                                    <option value="id" {% if request.GET.selecttype == 'id'%} selected {% endif %}>ID</option>
                                    <option value="nickname" {% if request.GET.selecttype == 'nickname'%} selected {% endif %}>用户名</option>
                                    <option value="phone" {% if request.GET.selecttype == 'phone'%} selected {% endif %}>手机号</option>
                                    <option value="homeaddress" {% if request.GET.selecttype == 'homeaddress'%} selected {% endif %}>家庭住址</option>
                                </select>
                                <!--  <div class="am-selected am-dropdown " id="am-selected-r8jkr" data-am-dropdown=""> <button type="button" class="am-selected-btn am-btn am-dropdown-toggle am-btn-sm am-btn-default"> <span class="am-selected-status am-fl">所有类别</span> <i class="am-selected-icon am-icon-caret-down"></i> </button>
                                <div class="am-selected-content am-dropdown-content">
                                    <h2 class="am-selected-header"><span class="am-icon-chevron-left">返回</span></h2>
                                    <ul class="am-selected-list">
                                        <li class="am-checked" data-index="0" data-group="0" data-value="option1"> <span class="am-selected-text">所有类别</span> <i class="am-icon-check"></i></li>
                                        <li class="" data-index="1" data-group="0" data-value="option2"> <span class="am-selected-text">IT业界</span> <i class="am-icon-check"></i></li>
                                        <li class="" data-index="2" data-group="0" data-value="option3"> <span class="am-selected-text">数码产品</span> <i class="am-icon-check"></i></li>
                                        <li class="" data-index="3" data-group="0" data-value="option3"> <span class="am-selected-text">笔记本电脑</span> <i class="am-icon-check"></i></li>
                                        <li class="" data-index="4" data-group="0" data-value="option3"> <span class="am-selected-text">平板电脑</span> <i class="am-icon-check"></i></li>
                                        <li class="" data-index="5" data-group="0" data-value="option3"> <span class="am-selected-text">只能手机</span> <i class="am-icon-check"></i></li>
                                        <li class="" data-index="6" data-group="0" data-value="option3"> <span class="am-selected-text">超极本</span> <i class="am-icon-check"></i></li>
                                    </ul>
                                      <div class="am-selected-hint"></div>
                                </div>
                            </div> -->
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" class="am-form-field" name="keywords" value="{{request.GET.keywords}}">
                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>头像</th>
                                    <th>用户名</th>
                                    <th>手机号</th>
                                    <th>性别</th>
                                    <th>类别</th>
                                    <th>家庭住址</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data %}
                                <tr class="gradeX">
                                    <td class="am-text-middle">{{i.id}}</td>
                                    <td>
                                        <img src="{{i.avatar}}" class="tpl-table-line-img" alt="">
                                    </td>
                                    <td class="am-text-middle">{{i.nickname}}</td>
                                    <td class="am-text-middle">{{i.phone}}</td>
                                    <td class="am-text-middle">
                                        {% if i.sex == 'male' %}
                                        男
                                        {% elif i.sex == 'female' %}
                                        女
                                        {% endif %}
                                    </td>
                                    <td class="am-text-middle">
                                        {% if i.usertype == 'a' %}
                                        学生
                                        {% elif i.usertype == 'b' %}
                                        工人
                                        {% elif i.usertype == 'c' %}
                                        白领
                                        {% else %}
                                        未知
                                        {% endif %}
                                    </td>
                                    <td class="am-text-middle">{{i.homeaddress}}</td>
                                    <td class="am-text-middle">{{i.registertime}}</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="{% url 'myadmin_users_add' %}?id={{i.id}}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="javascript:;" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('.tpl-table-black-operation-del').click(function() {
    id = $(this).parents('tr').find('td:first').text()
    console.log(id)
    a = $(this)
    $.get('{% url 'myadmin_users_delete' %}', { id: id }, (data) => {
            console.log($(this))
            if (data['code'] === 0) {

                $(this).parents('tr').remove()
            }
            alert(data['msg'])
        }, 'json')
})
</script>
{% endblock %}